.chat-message-user {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
  margin-bottom: 20px;
}

.chat-message-bot {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.chat-message-text {
  background-color: rgb(238, 238, 238);
  padding: 12px 16px;
  border-radius: 10px;
  max-width: 300px;
}

.chat-message-profile {
  width: 45px;
  height: 45px;
}